#board {
    margin: 20px;
    width: 300px;
    height: 300px;
    border-spacing: 0;
  }

  td {
    width: 33.3%;
    height: 33.3%;
    border: 1px solid black;
    font-size: 4rem;
    text-align: center;
  }

  #one, #two, #three {
    border-top: none;
  }

  #one, #four, #seven {
    border-left: none;
  }

  #seven, #eight, #nine {
    border-bottom: none;
  }

  #three, #six, #nine {
    border-right: none;
  }

  button {
    border-radius: 5px;
    padding: 3px 20px;
    font-size: 18px;
    background-color: rgb(197, 203, 201);
  }
  button:hover {
    background-color: antiquewhite;
  }